.cabecalho {
    color: var(--preto);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--vermelho);

    position: relative;
}

.cabecalho__logo {
    margin-bottom: 1rem;
    width: 50%;
    height: 50%;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

.cabecalho__link:hover{
    color: var(--vermelho);
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    
    
    .cabecalho__navegacao {
        text-align: center;
        margin-top: auto;
    }


    .cabecalho__link {


        font-size: 1.1rem;
        display: inline-block;

    }

    .cabecalho__logo {

        text-align: center;
        
    }


}
